

body {
color: $primary;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body{
  overflow-x:hidden;
}

